extends layout

block content
  section.chat
    h1
      span Hi!
      span#username= name
      span -san 😆
    p What are you doing now?
    input(type="text")#message
    ul#timeline
    div#flash
